#formContainer {
    width: 100%;
    height: calc(100% - 80px);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;

    .hero {
        position: absolute;
        top: 0;
        left: 0;
        background-image: url("/img/hero.jpg");
        /* The image used */
        background-color: #1a1a1a;
        /* Used if the image is unavailable */
        height: 100%;
        width: 100%;
        background-position: center;
        /* Center the image */
        background-repeat: no-repeat;
        /* Do not repeat the image */
        background-size: cover;
        /* Resize the background image to cover the entire container */
        -webkit-filter: grayscale(100%);
        /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
        opacity: 0.2;
    }


    form {

        position: relative;
        z-index: 1;
        display: flex;
        min-width: 400px;
        max-width: 900px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $whi;
        font-size: $f-med;

        @include mobile {
           font-size: $f-standard;
           min-width: 90%;
        }

        div {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin: 10px 0;

            input {
                color: $whi;
                max-width: 80px;
                background-color: rgba(255, 255, 255, 0.096);
                border-radius: 5px;

                &::placeholder { /* Chrome/Opera/Safari */
                    font-size: $f-sml;
                  }
            }
        }

        #formSubmit {
            height: 100px;

            button {
                border: none;
                color: $l-grey;
                cursor: pointer;
                height: 60px;
                width: 100%;
                background-color: #5778f3;
                padding: 10px 30px;
                border-radius: 5px;
                border-bottom: 4px solid #3e4caf;
                transition: 0.1s;
                text-align: center;

                &:hover {
                    border-bottom-width: 0;
                    margin-top: 3px;
                    color: $whi;
                }
            }
        }
    }
}