nav {
    width: 100%;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: rgba(0,0,0,0.2);

    .btn-back {
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
    }

    h1 {
        margin: 0 auto;
    }
}