nav {
    position: absolute;
    width: 100%;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $whi;

    .btn-back {
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        padding: 20px;

        img {

            width: 44px;
            height: auto;

            @include mobile {
                width: 22px;
             }
        }
    }
}