#timerContainer {
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
  min-height: 60px;
  color: $whi;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;



  .timer-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid $whi;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    background: rgba(255, 255, 255, 0.05);

    @include mobile {
      width: 200px;
      height: 200px;
      transform: translateY(-50px);

    }

    .state-name {
      position: absolute;
      top: -100px;
      font-size: $f-xl;
      margin: 0;

      @include mobile {
        font-size: $f-lrg;
        top: -70px;
      }
    }

    .stateTimer-container {
      position: relative;
      font-weight: 200;
      font-size: $f-xl;

    }

    .startTimer {
      position: absolute;
      bottom: -40px;
      border-radius: 50%;
      font-size: $f-lrg;
      text-align: center;
      color: $whi;

      border: 2px solid $whi;
      cursor: pointer;

      img {
        position: relative;
        width: 80px;
        height: auto;
        padding: 20px;
        // background: rgba(0,0,0,0.5);
      }

      .playbtn {
        left: 4px;
      }
    }
  }

  .counter-container {
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    width: 100vw;
    min-height: 120px;
    margin-top: auto;
    display: flex;
    justify-content: center;

    @include mobile {
      min-height: 140px;
   }


    .timer {
      position: absolute;
      top: -30px;
      font-weight: 200;
      color: rgba(255, 255, 255, 0.6);
    }

    div.counters {
      width: 50%;
      height: 100%;
      text-align: center;
      font-weight: 200;

      &:first-of-type span {
        border-right: 1px solid rgba(255, 255, 255, 0.5);
      }

      h3 {
        margin: 15px 0 0 0;
        font-weight: 200;
        color: rgba(255, 255, 255, 0.6);
      }



      span {
        display: block;
        padding: 15px;
        color: rgba(255, 255, 255, 0.6);

      }

    }


  }

  .reset {
    position: absolute;
    top: 0;
    right: 0;
    color: $whi;
    padding: 20px;
    cursor: pointer;

    img {
      width: 64px;
      height: auto;

      @include mobile {
        width: 32px;
      }
    }
  }






}