// Colors

$whi: #fafafa;
$blk: #202020;
$l-blk: #202020;
$l-grey: #C7C5E2;
$test: #1C75BC;

// Font sizes
$f-xs: 12px;
$f-sml: 16px;
$f-standard: 20px;
$f-med: 24px;
$f-lrg: 32px;
$f-xl: 60px;
$f-huge: 200px;


// Mixins

@mixin mobile {
    @media (max-width: 899px) { @content; }
  }
  @mixin tablet {
    @media (min-width: 600px) and (max-width: 1023px) { @content; }
  }

  @mixin desktop {
    @media (min-width: 1024px) { @content; }
  }

  @mixin tablet-ls {
    @media only screen 
and (min-device-width : 600px)
and (orientation : landscape) { @content;}
  }

  
  
  // EG. How to use...
  
    // @include mobile {
    //    font-size: 1rem;
    // }
  